#include "{{.GoName}}_gen.h"
#include "_cgo_export.h"

void gocef_set_{{.TrimmedName}}_proxy({{.Name}} *self) {
	// Casts to (void *) added to avoid warnings since Go callbacks can't have
	// some modifiers, such as 'const' applied to their parameter signatures.
{{- $def := .}}
{{- range .Fields}}
{{- if .Var.FunctionPtr}}
	self->{{.Var.NameNoMangle}} = (void *)&{{.TrampolineName}};
{{- end}}
{{- end}}
}
