package cef

{{- if .NeedsUnsafeImport}}
import "unsafe"
{{- end}}

import (
	// #include "capi_gen.h"
{{- range .Trampolines}}
	// {{.}}
{{- end}}
	"C"
)

// {{.GoName}} ({{.Name}} from {{.Position.Src}})
{{- $comment := .Position.Comment}}{{if $comment}}
{{$comment}}
{{- end}}
type {{.GoName}} C.{{.Name}}

func (d *{{.GoName}}) toNative() *C.{{.Name}} {
	return (*C.{{.Name}})(d)
}

{{- range .Fields}}

// {{.Var.GoName}} ({{.Var.Name}})
{{- $comment := .Position.Comment}}{{if $comment}}
{{$comment}}
{{- end}}
func (d *{{.Owner.GoName}}) {{.Var.GoName}}({{.ParameterList}}) {{.Var.GoType}} {
{{- if .Var.FunctionPtr}}
	{{.CallFunctionPointer}}
{{- else}}
	{{.ReturnField}}
{{- end}}
}
{{- end}}